.page-number {
  cursor: pointer;
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}
.page-number:hover,
:focus {
  background-color: var(--color-light-blue);
}
.paginator {
  line-height: 150%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.page-number.selected {
  background-color: var(--color-light-blue);
  color: #fff;
}
